<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class>Welcome to Disc Chat, {{user.user_name}}!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/new/course" class="btn btn-primary">Add A Course</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>

    </nav>
    <div class="col-8 mx-auto">
        <h2> Courses Recently Played</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Course Name</th>
                    <th>Score</th>
                    <th>Comments</th>
                    <th>Discs Used</th>
                </tr>
            </thead>

            <tbody>
                {% for course in courses %}
                    <tr>
                        <td>{{user.user_name}}</td>
                        <td>{{course.course_name}}</td>
                        <td>{{course.score}}</td>
                        <td>{{course.comments}}</td>
                        <td>{{course.discs}}</td>
                        <td>
                            <a href="/course/{{course.id}}">View |</a>
                            <a href="/edit/course/{{course.id}}">Edit |</a>
                            <a href="/destroy/course/{{course.id}}">Delete</a>
                            {% if course.users_id == session['users_id'] %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>